<span mat-dialog-title>Commerce: Garage de l'expert</span>

<mat-dialog-content fxLayout="column" [formGroup]="form" fxLayoutAlign="space-between">
  <!--First row-->
  <div fxLayoutAlign="space-between" fxLayout="row wrap" class="mt-2">
    <!--First column-->
    <div fxFlex="50" fxLayout="column space-between" class="user-infos">
      <div>{{'trade_detail.trade.id'|translate|titlecase}}: <span>2345643222</span></div>
      <div>{{'trade_detail.trade.address'|translate|titlecase}}: <span>11, rue test, Laval</span></div>
      <div>{{'trade_detail.trade.phone'|translate|titlecase}}: <span>445586677</span></div>
      <div>{{'trade_detail.manager.title'|translate|titlecase}}: <span>Pierre</span></div>
      <div>{{'trade_detail.manager.phone'|translate|titlecase}}: <span>445586677</span></div>
      <div>{{'trade_detail.manager.email'|translate|titlecase}}: <span>44558p.morain@email.com</span></div>
    </div>

    <!--Second column-->
    <div fxFlex fxFlexOffset="5" fxLayout="column" fxLayoutAlign="space-between" class="user-infos">
      <div>{{'trade_detail.trade.type'|translate|titlecase}}: <span>Simple</span></div>
      <div>{{'trade_detail.trade.categuory'|translate|titlecase}}: <span>Service aux autos</span></div>

      <mat-form-field class="mr-md-3 mt-3">
        <mat-label>{{ 'trade_detail.additional_reduction' | translate |titlecase }}</mat-label>
        <input matInput type="number" name="reduction" formControlName="reduction">
        <span matSuffix>%</span>
      </mat-form-field>

      <mat-form-field class="mr-md-3 mt-3">
        <mat-label>{{ 'trade_detail.balance' | translate |titlecase }}</mat-label>
        <input matInput type="number" name="balance" formControlName="balance">
        <span matSuffix>$CA</span>
      </mat-form-field>
    </div>
  </div>

  <!--Second row-->
  <mat-accordion class="mb-4">
    <!--Detail accordion-->
    <app-detail-accordion-item *ngFor="let item of detailsAccordion; let i = index; trackBy:trackByDetailAccordion"
      [detailAccordionItem]="item" [index]="i">
    </app-detail-accordion-item>
  </mat-accordion>
</mat-dialog-content>

<mat-dialog-actions align="end" class="py-2">
  <button mat-button mat-dialog-close color="primary">{{'actions.cancel'|translate}}</button>
  <button mat-button color="primary">
    {{ 'actions.save' | translate }}
  </button>
</mat-dialog-actions>
