.footer {
  border-top: 1px solid #b8b8b8;
  background: grey;
  color: white;
  // font-family: Raleway, sans-serif;

  .row {
    padding: 0 1rem 0 1rem;
  }


  .logo {
    padding: 1em 0 1em 0;
  }

  .logo img {
    padding: 0;
    width: 5em;
  }

  .row:first-child {
    color: white;
    background-color: black;
  }

}

@media (max-width: 578px) {
  .footer {
    height: 130px;
  }
}


.mat-form-field {
  line-height: 1.25;
  font-size: 14px;
  width: 100%;
}
