$orange-light: #ef6c00;
$orange-darker: #bf360c; //#ef6c00;
$orange-extra-darker: #870000;

$indigo-darker: #001527;
$indigo-light: #093e6c;

$color-info : #1E88E5;
$color-success : #43A047;
$color-medium : #FDD835;
$color-warning : #FA8C00;
$color-danger : #E53935;
$color-invalid : #B8B8B8;
$color-none : #111111;
