@import "src/styles/font-weight";
@import "src/styles/colors";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: grey;
  font-family: Regular, sans-serif
}

.widget-header {
  font: $Light 20px/25px Roboto Condensed;
  color: $orange-extra-darker;

  border-bottom: solid 1px #b8b8b8;
}

mat-icon {
  cursor: pointer;
}

.open_in_new {
  padding-top: 0.3em;
  color: #707070;
}


.logo img {
  width: 8em;
  padding: 12px;
}

.link {
  color: black;
  text-decoration: none;
}

//scrollbar
.custom-scrollbar {
  scrollbar-color: #00000029 #F5F5F5;
  scrollbar-width: 8px;
  border-radius: 10px;
  max-height: 360px;
  overflow: auto;
}

::-webkit-scrollbar-track {
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #00000029;
}

// Bootstrap row above mat-tables
.search-row {
  padding: 16px 0;

  h5 {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    color: #707070;
    font-size: 20px;
    margin: 0 0 12px 0;
  }
}

.child-widget-heigth {
  height: 100%;
  width: 100%;
}

.empty-chart {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #707070;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  text-align: center;
}

@media (min-width: 1200px) {
  .empty-chart {
    height: 180px;
  }
}

@media (max-width: 1200px) {
  .empty-chart {
    margin-bottom: 10px;
  }
}
