@import "src/styles/colors";
@import "src/styles/font-weight";

.mat-drawer {
  background-color: $orange-darker;
  background-repeat: no-repeat;
  background-position: center bottom 20px;
  background-size: 50%;
  box-shadow: inset -12px 0 9px -12px rgba(0, 0, 0, 0.7);
}

mat-nav-list.mat-nav-list {
  padding-top: 45px;
}

app-sidenav .mat-list-base .mat-list-item .mat-list-icon {
  height: 34px;
  width: 34px;
  padding: 6px 4px;
}

.mat-list-base .mat-list-item {
  color: #ffffff;
  border-bottom: 2px solid $orange-extra-darker;
  font-family: 'Raleway', sans-serif;
  background-color: $orange-darker;

  box-shadow: inset -12px 0 9px -12px rgba(0, 0, 0, 0.7);

  &.active {
    background-color: $orange-light;
  }

  .mat-list-item-content {
    width: 100%;
  }
}

.sub-menu {
  background-color: $orange-extra-darker;

  .mat-list-item {
    border-bottom: none;
    background-color: $orange-extra-darker;

    .text-wrapper {

      width: 100%;
      border-bottom: 1px solid $orange-light;
      padding-bottom: 16px;
      padding-top: 16px;
      font-size: 0.9rem;
    }
  }

  app-sidenav.last {
    .mat-list-item {
      .text-wrapper {
        border-bottom: none;
      }
    }
  }
}

.mat-expansion-panel-body>.container-fluid {
  padding: 0;
}

mat-sidenav-content.mat-sidenav-content {
  height: calc(100vh - 100px);
  background-color: #eeeeee;
}

app-dashboard {
  min-height: calc(93.9vh - 184px);
}

router-outlet+* {
  height: 100%;
  display: block;
}

mat-toolbar.mat-title {
  height: 100px;
  border-bottom: 1px solid #b8b8b8;
  padding: 0 4rem;

  .quarter {
    font-weight: $Bold;
    font-size: 1rem;
  }

  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: $Medium;
    font-size: 28px;
    color: $orange-darker;
  }
}

.mat-raised-button {
  font-family: 'Raleway', sans-serif;
  background-color: #011e38;
  color: white;
}

.wrapper-content {
  padding: 2rem 4rem;
}

@media (max-width: 1199.98px) {
  .wrapper-content {
    padding: 2rem 1rem;
  }

  mat-toolbar.mat-title {
    padding: 2rem 1rem;
  }
}

mat-form-field.mat-form-field {
  font-family: Roboto, sans-serif;
}
