@import '~@angular/material/theming';
@import 'styles/colors';
$mat-indigo: (default: #001527,
  lighter:#093e6c,
  darker:#001527,
  contrast: (default: $light-primary-text,
    lighter:$light-primary-text,
    darker:$light-primary-text,
  ),
);

$mat-orange: (default: $orange-darker,
  lighter:#FDD835,
  darker:$orange-darker,
  contrast: (default: $light-primary-text,
    lighter:$dark-primary-text,
    darker:$light-primary-text,
  ),
);
