<app-auth-page-content [description]="'forgot_password.description'|translate"
  [title]="'forgot_password.header'|translate">
  <form name='form' fxLayout="column" fxLayoutAlign="space-between" (ngSubmit)='f.form.valid && onSubmit()' #f="ngForm">
    <!-- Email -->
    <mat-form-field appearance="outline">
      <mat-label>{{ 'login.email.title' | translate }}</mat-label>
      <mat-icon matPrefix>email</mat-icon>
      <input matInput type="email" name="email" [(ngModel)]="emailForm" #email="ngModel" required email>
      <mat-error *ngIf="email.errors">
        <mat-error *ngIf="email.errors['required'] || email.errors['email']">
          {{'login.email.required'|translate}}
        </mat-error>
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" class="mt-2" fxLayoutAlign="space-between center">
      <!-- Login -->
      <a class="link" routerLink="/auth/login">{{ 'login.title' | translate }}</a>

      <!-- Submit -->
      <button mat-raised-button color="primary" [disabled]="f.form.invalid">
        {{ 'actions.submit' | translate }}
      </button>
    </div>
  </form>
</app-auth-page-content>
