<app-auth-page-content [description]="'reset_password.description'|translate"
  [title]="'reset_password.header'|translate">
  <form name='form' fxLayout="column" fxLayoutAlign="space-between" (ngSubmit)='form.valid && onSubmit()'
    [formGroup]="form">
    <!-- Email -->
    <mat-form-field appearance="outline">
      <mat-label>{{ 'user.email' | translate }}</mat-label>
      <input matInput type="text" name="email" formControlName="email">
      <mat-error *ngIf="form.controls['email'].errors?.required || form.controls['email'].errors?.email">
        {{'login.email.required'|translate}}
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline">
      <mat-label>{{ 'reset_password.password.title' | translate }}</mat-label>
      <input matInput type="password" name="password" formControlName="password">
      <mat-error *ngIf="form.controls['password'].errors?.required">
        {{'reset_password.password.required'|translate}}
      </mat-error>
      <mat-error *ngIf="form.controls['password'].errors?.minlength || form.controls['password'].errors?.pattern">
        {{'reset_password.password.pattern'|translate: {minlength: 8} }}
      </mat-error>
    </mat-form-field>

    <!-- Confirm password -->
    <mat-form-field appearance="outline">
      <mat-label>{{ 'reset_password.confirm_password.title' | translate }}</mat-label>
      <input matInput type="password" name="confirmPassword" formControlName="confirmPassword">
      <mat-error *ngIf="form.controls['confirmPassword'].errors?.required">
        {{'reset_password.password.required'|translate}}
      </mat-error>
      <mat-error
        *ngIf="form.controls['confirmPassword'].errors?.minlength || form.controls['confirmPassword'].errors?.pattern">
        {{'reset_password.password.pattern'|translate: {minlength: 8} }}
      </mat-error>
      <mat-error *ngIf="form.controls['confirmPassword'].errors?.areEqual">
        {{'reset_password.password.are_equal'|translate}}
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" class="mt-2" fxLayoutAlign="space-between center">
      <!-- Login -->
      <a class="link" routerLink="/auth/login">{{ 'actions.cancel' | translate }}</a>

      <!-- Submit -->
      <button mat-raised-button color="primary" [disabled]="form.invalid">
        {{ 'actions.reset_password' | translate }}
      </button>
    </div>
  </form>
</app-auth-page-content>
