@import "src/styles/colors";

.user-infos {
  div {
    line-height: 2em;

    span {
      font-weight: 700;
      font-size: 18px;
      font-family: Roboto, sans-serif;
    }
  }
}

//table
table {
  font-family: Roboto, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
  color: $orange-darker;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

//detaoils
.additional-details {
  padding-top: 1em;

  div {
    line-height: 1.5em;
    margin-bottom: 1em;

    span {
      font-weight: bold;
    }
  }
}
