<span mat-dialog-title>Utilisateur: Francine</span>

<mat-dialog-content fxLayout="column" [formGroup]="form" fxLayoutAlign="space-between">
  <!--First row-->
  <div fxLayoutAlign="space-between" class="mt-2">
    <!--First column-->
    <div fxLayout="column space-between" class="user-infos">
      <div>{{'user.card_number'|translate|titlecase}}: <span>{{data.user.Code}}</span></div>
      <div>{{'user.email'|translate|titlecase}}: <span>{{data.user.Email}}</span></div>
      <div>{{'user.phone_number'|translate|titlecase}}: <span>{{data.user.Phone}}</span></div>
      <div>{{'user.operations_number'|translate|titlecase}}: <span>{{data.user.AvailableCredit}}</span></div>
    </div>
    <!--Second column-->
    <div fxLayout="column" class="mt-2">
      <mat-form-field>
        <mat-label>{{'user.member_type'|translate|titlecase}}</mat-label>
        <mat-select formControlName="memberType">
          <mat-option [value]="item.key"
            *ngFor="let item of displayableMemberTypes; trackBy:trackByDisplayableMemberType">
            {{item.translationKey|translate}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mr-md-3">
        <mat-label>{{ 'user_detail.additional_reduction' | translate |titlecase }}</mat-label>
        <input matInput type="number" name="reduction" formControlName="reductions">
        <span matSuffix>%</span>
      </mat-form-field>
    </div>
  </div>

  <!--Second row-->
  <mat-accordion class="mb-4">
    <!--Detail accordion-->
    <app-detail-accordion-item *ngFor="let item of detailsAccordion; let i = index; trackBy:trackByDetailAccordion"
      [detailAccordionItem]="item" [index]="i">
    </app-detail-accordion-item>
  </mat-accordion>
</mat-dialog-content>

<mat-dialog-actions align="end" class="py-2">
  <button mat-button mat-dialog-close color="primary">{{'actions.cancel'|translate}}</button>
  <button mat-button color="primary">
    {{ 'actions.save' | translate }}
  </button>
</mat-dialog-actions>
<!--Team
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-list fxFill>
            <mat-list-item class="list-content mb-2" fxLayout="row">
              <img class="imageIcon" matListIcon src="assets/images/team.png" />
              <span class="ml-2">{{'user_details.team'|translate|titlecase}} (7)</span>
            </mat-list-item>
          </mat-list>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="content-panel">
          <table>
            <tr>
              <th>Num Manicard</th>
              <th>Code</th>
              <th>Prenom</th>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Maria Anders</td>
              <td>Germany</td>
            </tr>
            <tr>
              <td>Centro comercial Moctezuma</td>
              <td>Francisco Chang</td>
              <td>Mexico</td>
            </tr>
            <tr>
              <td>Ernst Handel</td>
              <td>Roland Mendel</td>
              <td>Austria</td>
            </tr>
            <tr>
              <td>Island Trading</td>
              <td>Helen Bennett</td>
              <td>UK</td>
            </tr>
          </table>
        </div>
      </ng-template>

    </mat-expansion-panel>

    Grouping
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-list fxFill>
            <mat-list-item class="list-content mb-2" fxLayout="row">
              <img class="imageIcon" matListIcon src="assets/images/grouping.png" />
              <span class="ml-2">{{'user_details.grouping'|translate|titlecase}} (7)</span>
            </mat-list-item>
          </mat-list>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="content-panel">
          <table>
            <tr>
              <th>Num Manicard</th>
              <th>Code</th>
              <th>Prenom</th>
            </tr>
            <tr>
              <td>Alfreds Futterkiste</td>
              <td>Maria Anders</td>
              <td>Germany</td>
            </tr>
            <tr>
              <td>Centro comercial Moctezuma</td>
              <td>Francisco Chang</td>
              <td>Mexico</td>
            </tr>
            <tr>
              <td>Ernst Handel</td>
              <td>Roland Mendel</td>
              <td>Austria</td>
            </tr>
            <tr>
              <td>Island Trading</td>
              <td>Helen Bennett</td>
              <td>UK</td>
            </tr>
          </table>
        </div>
      </ng-template>
    </mat-expansion-panel>

    Additional details
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-list fxFill>
            <mat-list-item class="list-content mb-2" fxLayout="row">
              <img class="imageIcon" matListIcon src="" />
              <span class="ml-2">{{'user_details.additional_details'|translate|titlecase}} (7)</span>
            </mat-list-item>
          </mat-list>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div fxLayout="row wrap" fxLayoutAlign="space-between" class="content-panel additional-details">
          <div fxFlex.lg="47">
            {{'detail.administrator'|translate|titlecase}}: <span>{{data.user.Code}}
            </span>
          </div>
          <div fxFlex.lg="47">
            {{'detail.administrator'|translate|titlecase}}: <span>{{data.user.Code}}</span>
          </div>
          <div fxFlex.lg="47">
            {{'detail.email'|translate|titlecase}}: <span>{{data.user.Code}}</span>
          </div>
          <div fxFlex.lg="47">
            {{'detail.administrator'|translate|titlecase}}: <span>{{data.user.Code}}</span>
          </div>
          <div fxFlex.lg="47">
            {{'detail.start_date'|translate|titlecase}}:
            <span>{{data.user.CreateDate| intlDate :translate.currentLang :dateOptions}}</span>
          </div>
          <div fxFlex.lg="47">
            {{'detail.balance'|translate|titlecase}}:
            <span>{{data.user.AvailableCredit | currency :'CAD'}}</span>
          </div>
          <div fxFlex.lg="47">
            {{'detail.renewal_date'|translate|titlecase}}:
            <span>{{data.user.CreateDate| intlDate :translate.currentLang :dateOptions}}</span>
          </div>
          <div fxFlex.lg="47">
            {{'detail.payment_dateline'|translate|titlecase}}:
            <span>{{data.user.CreateDate| intlDate :translate.currentLang :dateOptions}}</span>
          </div>
          <div fxFlex="100">
            {{'detail.dashboard'|translate|titlecase}}
            <span>{{data.user.CreateDate| intlDate :translate.currentLang :dateOptions}}</span>
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>

  </mat-accordion>
</mat-dialog-content>-->
